.comm-descr
{
	width: 50%;
	border: 1px solid #fea460;
	background: #feeed9;
	text-align: center;
	vertical-align: top;
	padding-bottom: 6px;
}
.comm-descr strong
{
	display: block;
	text-align: center;
	background-color: #fff;
	border: 1px solid #fea460;
	border-bottom-width: 2px;
	padding: 6px;
	margin-bottom: 6px;
}
.comms-table
{
	border-collapse: no;
	border-spacing: 6px;
}